* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #333;
  color: #333;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.aligner {
  padding: 10px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.stylish {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  height: 400px;
  width: 400px;
  border: solid 3px rgb(219, 219, 219);
  border-radius: 20px;
  background: rgb(255, 255, 255);
  padding: 10px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.column_1 {
  width: 100%;
  height: 30%;
  display: flex;
  justify-content: space-between;
}

.column_1 div {
  background: transparent;
  border: solid 1px #333;
  width: 30%;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 60px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.column_2 {
  width: 100%;
  height: 30%;
  display: flex;
  justify-content: space-between;
}

.column_2 div {
  border: solid 1px #333;
  width: 30%;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 60px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.column_3 {
  width: 100%;
  height: 30%;
  display: flex;
  justify-content: space-between;
}

.column_3 div {
  border: solid 1px #333;
  width: 30%;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 60px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.name {
  text-align: right;
  color: white;
}

.winner {
  text-align: left;
  color: white;
  position: relative;
  left: 24px;
}
