* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #333;
  color: #333;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.aligner {
  padding: 10px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 96vh;
}

.stylish {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  height: 400px;
  width: 400px;
  border: solid 3px rgb(219, 219, 219);
  border-radius: 20px;
  background: rgb(255, 255, 255);
  padding: 10px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.column_1, .column_2, .column_3 {
  width: 100%;
  height: 30%;
  display: flex;
  justify-content: space-between;
}

.column_1 div, .column_2 div, .column_3 div {
  background: transparent;
  border: solid 1px #333;
  width: 30%;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 60px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.name {
  text-align: right;
  color: white;
}

.winner {
  text-align: left;
  color: white;
  position: relative;
  left: 25px;
}

.alias {
  color: white;
  visibility: hidden;
}

.reset_button {
  position: relative;
  left: 25px;
}

button {
  padding: 5px;
  margin: 10px;
  width: 100px;
  border: white 2px solid;
  border-radius: 5px;
  background: none;
  color: white;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

button:hover {
  border: crimson 2px solid;
}

button:active {
  color: crimson;
}

@media (max-width: 550px) {
  .stylish {
    display: flex;
    flex-direction: column;
  }

  .name {
    color: #333;
    display: none;
  }

  .alias {
    visibility: visible;
  }

  .winner {
    position: static;
  }

  .reset_button {
    position: static;
  }
}

@media (max-width: 420px) {
  .main {
    height: 350px;
    width: 350px;
  }

  .column_1 div, .column_2 div, .column_3 div {
    font-size: 55px;
}

@media (max-width: 376px) {
  .aligner {
    height: 96vh;
    width: 96vw;
  }

  .main {
    height: 290px;
    width: 290px;
  }

  .column_1 div, .column_2 div, .column_3 div {
    font-size: 45px;
}

@media (max-width: 340px) {
  .main {
    height: 250px;
    width: 250px;
  }

  .column_1 div, .column_2 div, .column_3 div {
    font-size: 40px;
}
